.titulo{
  font-size: 40px;
  line-height: 50px;
  background: #111;
  color: #a8f;
  padding: 10px;
  border-radius: 5px;
}

/* CSS utilitários */
.texto-grande{
  font-size: 40px;
  line-height: 50px;
}
.cor-primaria{
  color: #a8f;
}
.bg-escuro{
  background:#111 ;
}

.p-1{
  padding: 10px;
}

.p-2{
  padding: 20px;
}

.br{
  border-radius: 5px;
}